In [7]:
import pandas as pd

In [11]:
import requests

In [12]:
# raw data from nychealth
url = 'https://raw.githubusercontent.com/nychealth/coronavirus-data/master/trends/caserate-by-modzcta.csv'

In [13]:
# get webpage
res = requests.get(url, allow_redirects=True)

In [14]:
# save page info to file
with open('raw_covid_data.csv','wb') as file:
    file.write(res.content)

In [25]:
# read file
df = pd.read_csv('raw_covid_data.csv')

In [27]:
df.head(10)

,week_ending,CASERATE_CITY,CASERATE_BX,CASERATE_BK,CASERATE_MN,CASERATE_QN,CASERATE_SI,CASERATE_10001,CASERATE_10002,CASERATE_10003,...,CASERATE_11432,CASERATE_11433,CASERATE_11434,CASERATE_11435,CASERATE_11436,CASERATE_11691,CASERATE_11692,CASERATE_11693,CASERATE_11694,CASERATE_11697
0,08/08/2020,19.02,26.44,18.83,15.90,17.39,16.38,7.24,34.52,5.56,...,23.04,16.43,8.99,20.54,9.98,28.42,28.53,0.00,24.06,58.95
1,08/15/2020,20.01,28.06,19.26,15.84,18.37,22.05,14.49,10.62,3.71,...,41.15,30.12,14.98,23.97,9.98,19.44,19.02,7.89,19.25,0.00
2,08/22/2020,18.68,23.34,16.45,17.74,18.90,18.90,10.86,19.91,16.67,...,24.69,16.43,11.98,17.12,9.98,37.39,4.76,0.00,33.69,29.48
3,08/29/2020,19.67,25.88,20.82,16.70,16.90,18.27,7.24,10.62,18.53,...,18.11,13.69,14.98,18.83,9.98,56.84,4.76,15.78,14.44,29.48
4,09/05/2020,19.86,18.76,21.84,15.53,19.08,31.08,32.59,7.97,18.53,...,11.52,16.43,10.48,22.25,4.99,46.37,14.27,7.89,14.44,88.43
5,09/12/2020,23.28,22.28,26.41,20.20,21.12,30.24,43.46,6.64,51.87,...,32.92,8.21,11.98,18.83,19.96,62.82,19.02,0.00,24.06,58.95
6,09/19/2020,25.57,22.35,32.93,19.52,23.03,28.35,14.49,21.24,38.90,...,62.55,16.43,7.49,27.39,9.98,85.26,9.51,15.78,4.81,58.95
7,09/26/2020,32.81,26.23,47.38,21.61,27.02,39.69,10.86,23.90,40.76,...,41.15,10.95,17.97,23.97,19.96,103.21,14.27,7.89,19.25,0.00
8,10/03/2020,41.91,28.70,59.89,27.87,39.04,46.20,28.97,18.59,44.46,...,67.48,35.60,13.48,46.22,29.94,160.04,19.02,39.46,43.31,0.00
9,10/10/2020,41.98,33.49,57.03,27.69,39.62,46.41,36.21,23.90,29.64,...,65.84,21.90,20.97,63.34,29.94,104.70,52.31,7.89,24.06,0.00

In [28]:
df = df.melt(id_vars=["week_ending"],
       var_name="zip_code",
       value_name="case_rate")

In [36]:
df.head(20)

   week_ending       zip_code  case_rate
0   08/08/2020  CASERATE_CITY      19.02
1   08/15/2020  CASERATE_CITY      20.01
2   08/22/2020  CASERATE_CITY      18.68
3   08/29/2020  CASERATE_CITY      19.67
4   09/05/2020  CASERATE_CITY      19.86
5   09/12/2020  CASERATE_CITY      23.28
6   09/19/2020  CASERATE_CITY      25.57
7   09/26/2020  CASERATE_CITY      32.81
8   10/03/2020  CASERATE_CITY      41.91
9   10/10/2020  CASERATE_CITY      41.98
10  10/17/2020  CASERATE_CITY      40.09
11  10/24/2020  CASERATE_CITY      46.98
12  10/31/2020  CASERATE_CITY      49.24
13  11/07/2020  CASERATE_CITY      74.79
14  11/14/2020  CASERATE_CITY     110.13
15  11/21/2020  CASERATE_CITY     128.92
16  11/28/2020  CASERATE_CITY     147.44
17  12/05/2020  CASERATE_CITY     209.68
18  12/12/2020  CASERATE_CITY     222.23
19  12/19/2020  CASERATE_CITY     216.80

In [47]:
# slice the first 9 letters of column
df["zip_code"]= df["zip_code"].str[9:]

In [52]:
# check my zip code
df[df["zip_code"]=='10010']

    week_ending zip_code  case_rate
280  08/08/2020    10010      20.99
281  08/15/2020    10010      38.98
282  08/22/2020    10010      17.99
283  08/29/2020    10010      23.99
284  09/05/2020    10010      11.99
285  09/12/2020    10010      20.99
286  09/19/2020    10010      14.99
287  09/26/2020    10010      14.99
288  10/03/2020    10010      26.98
289  10/10/2020    10010      26.98
290  10/17/2020    10010      41.98
291  10/24/2020    10010      35.98
292  10/31/2020    10010      35.98
293  11/07/2020    10010      62.96
294  11/14/2020    10010      86.95
295  11/21/2020    10010     119.93
296  11/28/2020    10010     107.94
297  12/05/2020    10010     116.93
298  12/12/2020    10010      89.95
299  12/19/2020    10010     149.91

In [55]:
df.to_csv("cv19_data/covid_data_table_12272020.csv")